// background
$body-bg: #f8fafc;
$footer-bg: #324f85;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$body-bg: #f8fafc;
$text-color-default: #212529;
$text-color-white: #f8fafc;
$hover-opacity: .75;
$inactive: #b3b3b3;

// Typography
$font-size-base: 1rem;

//buttons
$btn-height: 40px;
$btn-font-size: .9rem;
